<h1>CIRCLE</h1>
Hello, <%= current_user.name %>!
<%= link_to "Log out", destroy_user_session_path, method: :delete %><br/>
<% if current_user.room %>
    <%= link_to "Current Room '#{current_user.room.name}'", current_room_path %><br/>
<% end %>
<%= form_tag new_room_path, method: :post do %>
    <h2>Create Room</h2>
    <div class="field">
      <%= label :rooms, :name %><br />
      <%= text_field :rooms, :name %>
    </div>
    <div class="field">
      <%= label :rooms, :password %><br />
      <%= text_field :rooms, :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Create rooms" %>
    </div>

<% end %>

<%= form_tag search_room_path, method: :post do %>
    <h2>Search Room</h2>
    <div class="field">
      <%= label :rooms, :name %><br />
      <%= text_field :rooms, :name %>
    </div>
    <div class="field">
      <%= label :rooms, :password %><br />
      <%= text_field :rooms, :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Search Room" %>
    </div>
<% end %>

<h2>Rulebooks</h2>
<table>
  <tr>
    <th>Title</th>
    <th>updated_at</th>
    <th>created_at</th>
  </tr>
  <% current_user.rulebooks.each do |rulebook| %>
      <tr>
        <td><%= link_to rulebook.title, rulebook %></td>
        <td><%= rulebook.updated_at %></td>
        <td><%= rulebook.created_at %></td>
      </tr>
  <% end %>
</table>
<%= link_to "new rulebook", new_rulebook_path %>