<h2>New Program</h2>

<%= form_for @rulebook do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autocomplete: "title" %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, autocomplete: "description" %>
    </div>
    <div class="field">
      <%= f.label :code %><br />
      <%= f.text_area :code, autocomplete: "code" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<%= link_to "back", root_path %>